body{
  padding-top: 40px;
}

.navbar{
  font-family: 'Montserrat', sans-serif;
}

.navbar-inner{
  background-color: #1a1717;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.nav{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.navbar .brand{
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color:  #fff;
  line-height: 25px;
  text-transform: uppercase;
}

.navbar .nav > li > a {
    float: none;
    line-height: 25px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #fff;
}

.navbar .nav > li > a:hover{
  color: #ccc;
}

.jumbotron{
  position: relative;
  padding: 40px 0;
  color: #1a1717;
  background: #7f8c8d; /* Old browsers */
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

.header-image{
  padding-left: 40px;
}

.header-text{
  padding-left: 60px;
}

.header-form{
  padding-left: 60px;
}

.header-desc{
  padding-left: 60px;
}

