body{
  padding-top: 40px;
}

.navbar{
  font-family: 'Montserrat', sans-serif;
}

.navbar-inner{
  background-color: #34495e;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.nav{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.navbar .brand{
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color:  #fff;
  line-height: 25px;
  text-transform: uppercase;
}

.navbar .nav > li > a {
    float: none;
    line-height: 25px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #fff;
}

.navbar .nav > li > a:hover{
  color: #ccc;
}

.jumbotron{
  position: relative;
  padding: 40px 0;
  color: #1a1717;
  background-image:url('/images/debut_light_@2X.png');
  background-repeat: repeat;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  padding-top: 40px;
}
.jumbotron p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
  font-style: italic;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

.social-bar{
  padding: 3px 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}

.social-icons{
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.social-icons li{
  display: inline-block;
  padding: 10px 5px 2px 5px;
  line-height: 1;
  *display: inline;
  *zoom: 1;
}

.social-icons li a{
  color: #aaa;
  font-size: 1.7em;
}

.social-icons li a:hover{
  color: #ccc;
  text-decoration: none;
}
.recent-posts p{
  text-align: center;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  padding: 25px 0 15px 0;
}

.recent-posts ul{
  list-style-type: none;
  text-align: center;
}

.recent-posts ul li{
  height: 300px;
  width: 350px;
  background-color: #ecf0f1;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
}

