body{
  padding-top: 40px;
}

.navbar{
  font-family: 'Montserrat', sans-serif;
}

.navbar-inner{
  background-color: #34495e;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.nav{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.navbar .brand{
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color:  #fff;
  line-height: 25px;
  text-transform: uppercase;
}

.navbar .nav > li > a {
    float: none;
    line-height: 25px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #fff;
}

.navbar .nav > li > a:hover{
  color: #ccc;
}

.jumbotron{
  position: relative;
  padding: 40px 0;
  color: #1a1717;
  background-image:url('/images/debut_light_@2X.png');
  background-repeat: repeat;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  padding-top: 40px;
}
.jumbotron p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
  font-style: italic;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

.mc-button .button{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #1a1717;
}

.social-bar{
  padding: 3px 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}

.social-icons{
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.social-icons li{
  display: inline-block;
  padding: 10px 5px 2px 5px;
  line-height: 1;
  *display: inline;
  *zoom: 1;
}

.social-icons li a{
  color: #aaa;
  font-size: 1.7em;
}

.social-icons li a:hover{
  color: #ccc;
  text-decoration: none;
}

.recent-posts{
  text-align: center;
  margin-top: 20px;
}

.recent-posts h2{
  text-align: center;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
}

a.post_title:link {text-decoration:none; color: #333;}
a.post_title:visited {text-decoration:none; color: #333;}
a.post_title:hover {text-decoration:none; color: #000;}
a.post_title:active {text-decoration:none;}

.sponsors{
  padding: 0 30px 0 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-left: 1px solid #ddd;
  border: line-height: 2em;
}

.sponsors h2{
  text-align: center;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
}

.sponsor_logo{
  margin: 0px 0 10px 0;
  text-align: center;
}

.sponsor_blurb{
  font-style: italic;
  font-size: 12px;
  margin-bottom: 20px;
}

.footer {
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  font-family: 'Montserrat', sans-serif;
}

.footer_links {
  font-size: 12px;
  float: left;
  padding: 5px;
  color: #1a1717;
}

.footer_item {
  margin-right: 20px;
}

.footer_item a{
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}

.footer_item a:link {text-decoration:none; color: #1a1717;}
.footer_item a:visited {text-decoration:none; color: #1a1717;}
.footer_item a:hover {text-decoration:none; color: #888;}
.footer_item a:active {text-decoration:none;}

.copyright {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding: 5px;
  color: #888;
}



/* Episode List */

.page_title{

}



