<footer class="footer">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span10">
        <div class="footer_links">
          <span class="footer_item"><a href="http://twitter.com/emberhotseat" target="_blank">Twitter</a></span>
          <span class="footer_item"><a href="http://github.com/emberhotseat" target="_blank">Github</a></span>
          <span class="footer_item"><a href="/feed/index.rss">RSS</a></span>
        </div>
      </div>
      <div class="span2 copyright">
        <span class="footer_item">©2013 Ember Hot Seat</span>
      </div>
    </div>
    
  </div>
  
</footer>