---
layout: default
title: Ember Hot Seat Episodes
---

<h2 class="page_title">Episodes</h2>
  <div>
    <ul class="post_links">
      {% for post in site.posts %}

        {% unless post.next %}
            <h4 class="post_year">{{ post.date | date: '%Y' }}</h4>
          {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
          {% if year != nyear %}
            <h4 class="post_year">{{ post.date | date: '%Y' }}</h4>
          {% endif %}
        {% endunless %}

        <li class="post_date">{{ post.date | date:"%b %d" }} <a class="post_url" href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
