<!DOCTYPE html>
<html lang="en">
    <head>
      {% include head.html %}
    </head>
    <body>
      {% include header.html %}
      <div class="jumbotron">
        <div class="row-fluid">
          <div class="span5">
            <img class="header-image"src="/images/ember_splash.png">
          </div>
          <div class="span6">
            <h1 class="header-text tk-myriad-pro">Welcome to the Ember Hot Seat.</h1>
            <p class="header-desc tk-myriad-pro">The Ember Hot Seat will be a web series dedicated in bringing you the latest and greatest news from the Ember.js community. Each week we'll feature a new person bringing their unique perspective in the Hot Seat. Sign up below for updates!</p>
            <form class="form-inline header-form">
              <input type="text" class="input-xlarge" placeholder="Please Enter Your Email Address">
              <button type="submit" class="btn">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
      <div class="social-bar">
        <ul class="social-icons">
          <li><a class="ss-twitter" href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" data-title="@emberhotseat"></a></li>
          <li><a class="ss-octocat" href="#" target="_blank" data-toggle="tooltip" data-placement="bottom" data-title="emberhotseat"></a></li>
        </ul>
      </div>
      <div class="container">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </body>
</html>
